

//*******variables*********
$mainColor:linear-gradient(360deg, #211F20 0%, #44403F 100%);
$bgColor :#403C3B;
$titleColor:#FFFFFF;
$textColor:#CFCFCF;
$btnColor:#79B382;
$elemColor:#504B4A;

//******sizes******
$hSize:32px;
